@import "@/styles/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2.5;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #2d1a1a;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-red-300 bg-opacity-40;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-red-800 bg-opacity-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-500 bg-opacity-30;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600 bg-opacity-40;
}

body {
  font-family: Poppins, Helvetica, sans-serif;
}

body .light {
  @apply bg-[#fdfae5] text-[#171717];
}

body .dark {
  @apply bg-[#4a2828] text-[#ffe4d9];
}

a {
  @apply transition-colors duration-200;

  &:hover {
    @apply text-red-600 dark:text-red-300 transition-colors duration-200;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply mb-2;
}

h1 {
  @apply text-5xl font-bold text-red-800 dark:text-red-300;
}

h2 {
  @apply text-4xl font-bold text-red-800 dark:text-red-300;
}

h3 {
  @apply text-3xl font-bold text-red-800 dark:text-red-300;
}

h4 {
  @apply text-2xl font-bold text-red-800 dark:text-red-300;
}

h5 {
  @apply text-xl font-bold text-red-800 dark:text-red-300;
}

h6 {
  @apply text-lg font-bold text-red-800 dark:text-red-300;
}
