@import "@/styles/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
  --background: #f6fff4;
  --foreground: #171717;
}

::-webkit-scrollbar {
  @apply w-2.5;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl
  bg-red-300
  bg-opacity-40

  dark:bg-red-800
  dark:bg-opacity-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-500 bg-opacity-30;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    /*--foreground: #ededed;*/
    --background: #291000;
    --foreground: #ffe4d9;
  }

  ::-webkit-scrollbar {

  }

  ::-webkit-scrollbar-thumb {

  }

  ::-webkit-scrollbar-thumb:hover {

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /*background: url("/bg.jpg") center center;*/
  /*background-size: 100vw auto;*/
  font-family: Poppins, Helvetica, sans-serif;
}

a {
  @apply transition-colors duration-200;

  &:hover {
    @apply text-red-600 dark:text-red-300 transition-colors duration-200;
  }
}

h1 {
  @apply text-2xl font-bold text-red-800 dark:text-red-300;
}
