.navbar {
    @apply
    flex justify-between items-center
    fixed top-0
    py-4 px-8
    w-screen
    bg-red-300
    bg-opacity-50
    backdrop-blur-lg
    dark:bg-red-800
    dark:bg-opacity-50
    dark:backdrop-blur-lg
}

.navbar h1 {
    @apply
    text-2xl
    font-bold
}

.navbar .links {
    @apply
    flex gap-4
}

.navbar .links .link {
    @apply
    select-none
    cursor-pointer
    py-2 px-4 rounded-full
    transition ease-in-out duration-200
    font-medium

    hover:text-red-600
    active:font-semibold
    active:shadow-inner
    active:shadow-red-600
    active:bg-red-200

    dark:hover:text-red-300
    dark:active:shadow-black
    dark:active:bg-orange-950
}

.navbar .links .link .active {
    @apply
    font-bold
}
